# macOS
.DS_Store

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Application Secrets
application.properties
application.yml
application-dev.properties
application-prod.properties
.env
barberdb_dump.sql
*.log